{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  // "extends": ["ewt", "airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "plugins": ["react", "jest"],
  "globals": {},
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
