bower_components/
*.cfg
node_modules/
nohup.out
*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.log
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
out/
.build
.happypack
node_modules
_site
sea-modules
spm_modules
.cache
__mocks__
__test__
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
index.html
.tsconfig.json
src
.husky
.vscode
docs
.prettierrc.json
.stylelintrc.json
tsconfig.production.json
